
{% block filechunk_widget -%}
  {% spaceless %}
    <div class="filechunk-widget">
      <div class="filechunk-widget-table">
        <div class="filechunk-widget-row">
          <div class="filechunk-widget-drop">
            <span style="" class="text-muted message">{{ "Drag and drop files or click here to add more files..."|trans }}</span>
            {{ form_widget(form.file) }}
          </div>
        </div>
      </div>
      <input type="hidden" rel="fid" name="{{ fid_name }}" id="{{ fid_id }}" value="{{ value.fid|e }}">
    </div>
  {% endspaceless %}
{%- endblock filechunk_widget %}

{% block filechunk_row -%}
  {# Makes it compatible with bootstrap 3 layouts #}
  {% set force_error = true %}
  {{- block('form_row') }}
{%- endblock filechunk_row %}
